:root {
  --primary-color: #011e31a8;   
  --secondary-color: #09134883; 
  --text-color: #dadada;      

}

body.light {
  --primary-color: #ccd3f7;
  --secondary-color: #b0bec7;
  --text-color: #111;
}




.fw-bold{
    color: var(--text-color) !important;
}
.weatherChart {
    height: 20vw;
    display: block; 
    background-color: var(--primary-color);
}

.chart-container {
    border: 10px solid var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    margin: 10px auto;
}

.chart-section {
    padding: 20px 0;
    text-align: center;
}

body {
    background: url("images/backgroundImage.jpg") #ffffff;
      background-repeat: no-repeat;
  background-size: cover;
}


header {
    background: var(--primary-color);
    padding: 20px 0;
    text-align: center;
    color: var(--text-color);
}

header h1 {
    font-weight: 700;
    margin-bottom: 10px;
}


.input-group {
    max-width: 500px;
    margin: auto;
}


.btn-outline-secondary {
    border-color: var(--text-color);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    background-color: var(--text-color);
    color: var(--text-color);
}




#chart-container {
    background: var(--primary-color);
    padding: 30px;
    border-radius: 20px;
}

.custom-table {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

.custom-table thead {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 600;
    border: 1px solid black;
    font-size: 1.5rem;
}

.custom-table td {
    padding: 10px;
    color: var(--text-color);
    margin: 20px;
}

.custom-table p {
    margin: 20px 0;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 5px;
}
.locationStyle{
    background-color: var(--primary-color);
    margin: auto;
    width: fit-content;
    padding:10px;
    border-radius: 10%;
    color: var(--text-color);
    
}
